<mat-card>
  <form class="example-container" [formGroup]="contactForm">
    <mat-form-field appearance="outline">
      <input matInput placeholder="Enter First Name" formControlName="firstName">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput placeholder="Enter Last Name" formControlName="lastName">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput placeholder="Enter Email Address" formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Enter Phone Number" formControlName="phone">
    </mat-form-field>
  </form>
  <button style="margin-left:10px" mat-raised-button color="primary" (click)="create()" [disabled]="!contactForm.valid">Create</button>
  <button style="margin-left:5px" mat-raised-button color="warn" (click)="cancel()">Cancel</button>
</mat-card>
