<h3 mat-dialog-title> Edit Task</h3>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="taskForm">
    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Hour" formControlName="hour">
            <mat-option *ngFor="let hr of hours" [value]="hr">{{hr}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Minute" formControlName="minute">
            <mat-option *ngFor="let min of minutes" [value]="min">{{min}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Choose an option"  formControlName="timeType">
            <mat-option value="am">AM</mat-option>
            <mat-option value="pm">PM</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="2:0.5">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Person" formControlName="contactId">
            <mat-option *ngFor="let ct of contacts" [value]="ct._id">{{ct.firstName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Status" formControlName="status">
            <mat-option *ngFor="let st of status" [value]="st">{{st}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-form-field class="example-full-width" appearance="outline">
      <textarea matInput placeholder="Note" formControlName="note"></textarea>
    </mat-form-field>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
  <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
</div>
