/* .sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
}

a .label {
  font-size: 18px;
  margin-left: 10px;
}

mat-toolbar a {
  color: rgb(224, 213, 213);
  padding: 8px 16px 8px 8px;
}

.tooltip-red {
  background: #673ab7;
}

mat-toolbar a:hover {
  color: gray;
  background-color: white;
  transition: 400 ease;
}

.profile {

right:0;
}
 */

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#673ab7;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  font-family: Roboto,"Helvetica Neue",sans-serif;
}

li a:hover, .dropdown:hover .dropbtn {
  color: black;
  background-color:#beafd8;
  transition: 400 ease;
  cursor: pointer;
}

li.dropdown {
  float: right;
  margin-right:5%
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

