<ul>
  <li><a routerLink="/home">Home</a></li>
  <li><a *ngIf="(isLoggedIn$ |async) " routerLink="/contact">Contacts</a></li>
  <li><a *ngIf="(isLoggedIn$ |async) " routerLink="/task-reminder">Task</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">User </a>
    <div class="dropdown-content">
      <a *ngIf="!(isLoggedIn$ | async)" routerLink="/login">Login</a>
      <a *ngIf="(isLoggedIn$ | async)" (click)="logout()">Logout</a>
      <a *ngIf="(isLoggedIn$ | async)" routerLink="/">Profile</a>
    </div>
  </li>
</ul>
<router-outlet></router-outlet>
