<h3 mat-dialog-title>Edit User</h3>
<div mat-dialog-content>
  <form class="example-container"  [formGroup]="contactForm">
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput placeholder="Enter First Name" formControlName="firstName">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
        <input matInput placeholder="Enter Last Name" formControlName="lastName">
      </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput placeholder=" Enter Your Email" formControlName="email">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput placeholder="Phone" formControlName="phone">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary"[disabled]="!contactForm.valid" (click)="save()">Save</button>
  <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
</div>