<form [formGroup]="searchForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Search" formControlName="search">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</form>
