<mat-spinner class="progress-spinner loader" color="primary" mode="indeterminate" diameter="50"
  *ngIf="(activateLoader$ | async)"></mat-spinner>
<div class="main" *ngIf="!(activateLoader$ | async)">
  <form class="login-container" [formGroup]="loginForm">
    <mat-error *ngIf="isInvalid">
      Invalid usename or password.
    </mat-error>
    <mat-form-field>
      <input matInput placeholder="User name" formControlName="username">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
  </form>
  <div class="action">
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="loginForm.invalid">Login</button>
  </div>
</div>
