.main {
  width: 30%;
  height: 30%;
  padding: 10px;
  border: 2px solid gray;
  margin: auto;
  margin-top:10%;
}

.login-container {
  display: flex;
  flex-direction: column;
}

.action {
  text-align: center;
}
