<!-- <mat-card-title>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedTime" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker color="primary"></mat-datepicker>
  </mat-form-field>
</mat-card-title>
<h3>Current Task Slot</h3>
<mat-card-content> </mat-card-content> -->
<router-outlet></router-outlet>