<mat-card>
  <form class="example-form" [formGroup]="taskForm">
    <mat-form-field appearance="outline">
      <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker color="primary"></mat-datepicker>
    </mat-form-field>
    <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Hour" formControlName="hour">
            <mat-option *ngFor="let hr of hours" [value]="hr">{{hr}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Minute" formControlName="minute">
            <mat-option *ngFor="let min of minutes" [value]="min">{{min}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Choose an option" formControlName="timeType">
            <mat-option value="AM">AM</mat-option>
            <mat-option value="PM">PM</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="2:0.5">
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Person" formControlName="contactId">
            <mat-option *ngFor="let ct of contacts" [value]="ct._id">{{ct.firstName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Status" formControlName="status">
            <mat-option *ngFor="let st of status" [value]="st">{{st}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-form-field class="example-full-width" appearance="outline">
      <textarea matInput placeholder="Note" formControlName="note"></textarea>
    </mat-form-field>
    <button style="margin-left:5px;" mat-raised-button color="primary" [disabled]="!taskForm.valid" (click)="save()">Save</button>
    <button style="margin-left:5px" mat-raised-button color="warn" (click)="cancel()">Cancel</button>
  </form>
</mat-card>
