<mat-card-title>
  <h4 class="title">Contact List
    <mat-divider></mat-divider>
  </h4>

  <div class="myBtn">
    <button mat-raised-button color="accent" (click)="create()" >New contact</button>
  </div>
</mat-card-title>
<mat-card-content>
  <mat-spinner class="progress-spinner" color="primary" mode="indeterminate" diameter="50" *ngIf="activateLoader"></mat-spinner>
  <task-table [dataSources]="dataSource$" [displayedColumns]="displayedColumns" [headerConfig]="headerConfig" (actions)="fetchActions($event);"
    (fetchData)="fetchData($event)">
    <task-search class="taskSearch"></task-search>
    <task-paginator class="task-paginator"></task-paginator>
  </task-table>
</mat-card-content>
