<!-- search box -->
<div class="task-search">
  <ng-content select=".taskSearch"></ng-content>
</div>

<div class="task-table" >
  <table mat-table [dataSource]="(dataSources | async)?.values " class="mat-elevation-z8">
    <ng-container *ngFor="let item of headerConfig">
      <ng-container matColumnDef={{item.key}} *ngIf="!(item.action)">
        <th mat-header-cell *matHeaderCellDef><strong>{{item.label}}</strong> </th>
        <td mat-cell *matCellDef="let element"> {{element | displayData : item}} </td>
      </ng-container>

      <ng-container matColumnDef={{item.key}} *ngIf="(item.action)">
        <th mat-header-cell *matHeaderCellDef> <strong>{{item.label}}</strong> </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon (click)="dispatchAction(element,item)" class="myBtn">{{item.action}}</mat-icon>
        </td>
      </ng-container>

    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div class="task-paginator">
  <ng-content select=".task-paginator"></ng-content>
</div>
