<mat-card-title>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" (dateChange)="getTaskByDate(selectedTime)" [(ngModel)]="selectedTime"
      placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker color="primary"></mat-datepicker>
  </mat-form-field>
 
  <div class="myBtn">
      <button mat-mini-fab color="warn" (click)="openWidgetView()">View</button>
      <button mat-raised-button color="accent" (click)="createTask()">Create Task</button>
  </div>
  
</mat-card-title>
<mat-card-content>
    <mat-spinner class="progress-spinner" color="primary" mode="indeterminate" diameter="50" *ngIf="activateLoader"></mat-spinner>
  <task-table [dataSources]="dataSource$" [displayedColumns]="displayedColumns" [headerConfig]="headerConfig" (actions)="fetchActions($event);" (fetchData)="fetchData($event)">
    <task-search class="taskSearch"></task-search>
    <task-paginator class="task-paginator"></task-paginator>
  </task-table>
</mat-card-content>
