

.myBtn button {
  float: right;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

mat-card-title {
  display: block;
}

mat-card-content table {
  float: none;
}

.myBtn:hover {
  cursor: pointer;
  background-color: lightslategray;
}

.progress-spinner{
 margin-left: 50%; 
}

::ng-deep .background-blue .mat-simple-snackbar {
  color: #ff3b80;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;

}
