
  <!-- <mat-card>
      <mat-form-field>
          <input matInput [matDatepicker]="picker" (dateChange)="getTaskByDate(selectedTime)" [(ngModel)]="selectedTime"
            placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker color="primary"></mat-datepicker>
        </mat-form-field>
      <ng-template task-widget></ng-template>
  </mat-card> -->

  <div #mydate><input matInput placeholder="Choose a date"></div>
