<mat-card class="wd-card">
  <div>
    <label>Time</label>:<span>{{info.time}}</span>
  </div>
  <div>
    <label>Person</label>:<span></span></div>
  <div>
    <label>Status</label>:<span>{{info.status}}</span>
  </div>
  <div>
    <label>Notes</label>:<span></span>
  </div>
</mat-card>
