<h3 mat-dialog-title>Create User</h3>
<div mat-dialog-content>
  <form class="example-form"  [formGroup]="userForm">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Phone" formControlName="phone">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary"[disabled]="!userForm.valid" (click)="saveUser()">Save</button>
  <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
</div>