/* You can add global styles to this file, and also import other style files */

body { margin: 0; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-24 { font-size: 34px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.main{
  height: 100%;
  width: 100%;
}

.loader{
  margin-left: 49%;
  margin-top:20%;
}
